{% extends "base.html" %}
{% load static %}

{% block title %}Home - Zhe Blog Crétin{% endblock title %}

{% block content %}
	<h1>Bienvenue sur Zhe blog Crétin</h1>
	<p>
		Votre hote sur ce blog</p><br />
		<img src="{% static "blog/img/lapin-cretin.jpg" %}" alt="img hote" />
	</p>
	{% for article in derniers_articles %}
		<div class="article">
			<h3>{{ article.titre }} par {{ article.auteur }}</h3>
			<p>{{ article.contenu|truncatewords_html:80 }}</p>
			<p><a href="{% url 'view' article.id article.slug %}">Lire la suite</a></p>
		</div>
	{% empty %}
		<p>Aucun article.</p>
	{% endfor %}
{% endblock content %}
